    .header{
        margin: auto;
        position: relative;
        margin-left: 0%;
        margin-top: -20%;
    
        color: rgb(255, 255, 255);

    }
    .header-t{
        margin-left: 0%;
        display: inline-flex;
        position: absolute;
        bottom: 0px;
        left: 16px;
        font-size: 18px;
        font-size: 200%;
    } 
    .logo{
        width: 100%;
        position: relative;
        margin-bottom: -55%;
        margin-left: -10%;
       

    }

    .nom-p{
        margin-top: 0%;
        font-size: 90%; 
        font-family: cursive; 
    }
    .menu-p{
        margin: auto;
        margin-left: 10%;
        font-size: 80%;
        margin-top: 25%;
        display: flex;
    flex-direction: row;
    }
    .li-menu{
        margin-left: 10%;
        list-style: none;
        color: white;
        text-decoration: none;
        font-family: cursive;    
    }

    .photo1{

        width: 101.5%;
        margin-top: -10%;
        margin-left: -1%;
        
    }
    

    .img-A{
        width: 100%;
    }
@media (min-width:2000px){

    
    .menu-p{
        font-size: 150%;
        margin-top: 15%;
    }
    .nom-p{
        font-size: 160%;
    }
   
}
@media (max-width:1030px){
    
    .menu-p{
        font-size: 70%;
    }
    .nom-p{
        font-size: 80%;
    }
}
@media (max-width:770px){
   
    .menu-p{
        font-size: 50%;
    }
    .logo{
        width: 60%;
        margin-bottom: -35%;
    }
    .nom-p{
        font-size: 60%;
    }
}
@media (max-width:430px){
    .nom-p{
        font-size: 40%;
       
      
    }
    .logo{

        margin-top: 50%;
        margin-bottom: -52%;
        margin-left: -5%;
        width: 40%;
    }
    .menu-p{
        font-size: 40%;
        width: auto;
    }
}
@media (max-width:330px){
    .nom-p{
        font-size: 30%;
        margin-top: -19%;
    }
    .img-A {
        width: 104%;
        margin-left: -2%;
    }
    .menu-p{
        font-size: 10%;
        width: auto;
        
    }
    .li-menu{
        margin-left: 7%;
    }
    
}

    .img2{
        width: 95%;
        margin-left: 1%;
    }

    .titre-main{
        font-family: cursive;
        color: black;
        margin-left: 40%;
    }
    .img-T{
        display: flex;
    }
    .P1{
        width: 65%;
        margin-left: 13%;
        padding: 3% 3% 3% 3%;
        background-color: rgb(255, 255, 255);
        margin-top: -6%;
        position: relative;
        font-family: cursive;
    }
@media (max-width:780px)
{
.img-T{
    display: inline;
  
    }


}
    .footer{
        position: flex;
        margin-left: 45%;
    }
    .fb{
        width: 5%;
    
    }
    .Copy-B{
    
        font-family: cursive;
        margin-left: 45%;
    }
    .copy-A{
        font-family: cursive;
        margin-left: 40%;
    }
    .copy{
        text-decoration: none;
        font-family: cursive;
        
        color: black;
    
    }
    .img-B{
    width: 100%;
    }
@media(max-width:450px) { 
    .fb{
        width: 10%;
       
    }
    
    .footer{
        margin-left: 30%;
    }
    .copy-A{
        margin-left: 15%;
    }
    .Copy-B{
        margin-left: 30%;

    }
    .titre-main{
        margin-left: 25%;
    }
  
    
}
    .sui{
        display: flex;
        
    }
    .suiv-icon{
        font-family: cursive;
    }
    .contact-C{
        font-family: cursive;
    
    }

    .contact{
        font-family: cursive;
        text-align: center;
    }
    .icon3{
        width: 5%;
        margin-right: 1% ;
    }

    .P-icon3{
        font-family: cursive;
    }

    .nom{
        margin-bottom: 1%;
        width: 120%;
    }
    #nom1{
        width: 120%;
    }
    .button-c{
        background-color: red;
        width: 25%;
        
    }
    .contact-B{
        display: flex;
    }
    .contact-A{
        margin-left: 5%;
    }
    .contact-D{
        margin-left: 30%;
    }
@media (max-width:600px){
    .menu-p{
    background-color: black;
    width: 180%;
    font-size: 47%;
    margin-left: -16%;
    padding-left: 0%;
    margin-top: 40%;
    
    }
    .header-t{
        display: block;
    }
   .nom-p{
      margin-top: 72px;
      position: absolute;

   }
    
    
    .contact-B{
        display: inline;
    }
    .nom{
        margin-bottom: 1%;
        width: 70%; 
    }
    #nom1{
        width: 70%;
    }
    .contact-D{
        margin-left: 5%;
    }
}

@media(max-width:376px){
   .menu-p{
       font-size: 41.5%;
   }
   .nom-p{
       margin-top: 68px;
   }

}
@media(max-width:321px){
    .menu-p{
        font-size: 35%;
    }
    .nom-p{
        margin-top: 58px;
    }
}

    .img-g{
        width: 48%;
        margin-left: 2%;
        right: 15%;
    }
    .gallerie{
        
        margin-top: 1%;
        display: inline-flex;
    }
   .IG{
   
    display: inline-flex;
   }

   @media (max-width:770px){
       .gallerie{
           flex-direction: column;
       }
       .IG{
           margin-top: 1%;
       }
   }
   .img-g{
    cursor: pointer;
    transition: 0.3s;
   }
   .img-g:hover{
       opacity: 0.7;
   }
   .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
  }
  
  
  .modal1 {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  
  .modal1, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    cursor: pointer;
  }
  
  
@media only screen and (max-width: 700px){
    .modal1 {
      width: 100%;
    }
  }


  .RESE{
      display: flex;
  }
  
  .choisir1{
  display: flex;
  margin-bottom: 5%;
  margin-left: 10%;
  
 
   
  }
  .choisir2{
    
    margin-right: 50%;
   
  }
  
  .p2{
    font-size: 100%;
    font-family: cursive;
    padding: 2% 2% 2% 2%;  
    border: 10%; 
  }
  .B-R{
      background-color: rgb(0, 0, 0);
      border-style: none;
      margin-left: 10%;
      color: white;
      
  }
  .cree-E{
    font-family: cursive;
    font-size: 100%;
    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 10%;
  }
  .cree-E button{
    background-color: rgb(0, 0, 0);
    margin-left: 1%;
    border-style: none;
    color: white;
  }
  .img44{

    width: 50%;
  }
  @media (max-width:760px){
    .RESE{
        display: block;
    }
    .img44{

        width: 100%;
      }
  }
  
  